@mixin base-color {
  opacity: 0.7;
  border-color: transparent transparent transparent #d3d3d3;
}

@mixin base-color-hover {
  opacity: 1;
}

@mixin base-dimension {
  width: 3em;
  height: 3em;
}

/* Panel */
.video-controller-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Play Pause button */
.button-play-pause {
  @include base-dimension;

  background: transparent;
  box-sizing: border-box;

  @include base-color;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 1.5em 0 1.5em 2em;

  &.paused {
    border-style: double;
    border-width: 0 0 0 2em;
  }

  &:hover {
    @include base-color-hover;
  }
}

/* Speaker */
.speaker {
  @include base-dimension;

  position: relative;
  overflow: hidden;
  display: inline-block;

  @include base-color;

  span {
    display: block;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 100px solid #fff;
    }

    &:before {
      transform: rotate(45deg);
      border-radius: 0 1em 0 0;
      content: '';
      position: absolute;
      width: 0.7em;
      height: 0.7em;
      border-style: double;
      border-color: #fff;
      border-width: 0.4em 0.4em 0 0;
      transition: all 0.2s ease-out;
      top: 30%;
      left: 50%;
    }
  }

  &:hover {
    @include base-color-hover;

    span:before {
      transform: scale(.8) translate(-0.2em, 0) rotate(42deg);
    }
  }

  &.mute {
    span:before {
      transform: scale(.5) translate(-1em, 0) rotate(36deg);
      opacity: 0;
    }
  }
}

/* Slider video position */
.slider-video-position {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  outline: none;
  //background: #d3d3d3;
  //opacity: 0.7;
  @include base-color;
  -webkit-transition: .2s;
  transition: opacity .2s;

  &:hover {
    //opacity: 1;
    @include base-color-hover;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
}
