.video-ascii-panel {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.video-button-color {
  position: absolute;
  top: 10%;
  right: 0;
}

.video-button-copy {
  position: absolute;
  top: 0;
  right: 0;
}
